PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
NOTION_TOKEN=
NOTION_VERSION=2026-03-11
NOTION_DATA_SOURCE_ID=31f6d589-a9bd-4344-8e4e-847f1c6ba912
NOTION_DATABASE_ID=
REQUIRE_NOTION_SAVE=true
MAKE_HIGGSFIELD_WEBHOOK_URL=
MAKE_BUFFER_WEBHOOK_URL=
